/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 4, 2018, 10:31:43 PM
    Author     : jcppoulard
*/

.datepicker > div {
    display: inherit;
}

#navbar-extensions {
    background: #008D4C;
}

.ere-koule{
    background: #FFEEEE;
}


