/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2018, 11:02:53 AM
    Author     : jcppoulard
*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 212px;
    height: 337.5px;
    border-radius: 3px;
    padding: 0px 5px;
     font-size: 14px;
}
 p{
  font-size: 14px;}
.logo img {
    border-radius: 1px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 .container img {
     display: block;
     width: 100%;
     margin: 0 auto;
     }

.container p{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align:center;
    font-size: 14px;
    font-weight: bold;
}

.container {
    clear: both;
    padding: 2px;
    display: block;
    width: 100%
}